ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
li{
    /* width: 50px; */
    height: 50px;
    background-color: fuchsia;
    /* border: 1px solid; */
    flex-basis: calc((100% - 40px) / 5);
    /* order: 0; */
    /* flex-grow: 0; */
}
/* .one{
    order: 2;

}
.two{
    flex-shrink: 10;
}
.three{
    /* background-color: yellow; */
    /* order: 1;

}
.four{
    order: -1;

}
.five{
    order: 3;

} */