/* .box{
    width: 350px;
    height: 250px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    background-color: green;
    border: 2px dashed red;
} */
body{
    font-family: 'Roboto', sans-serif;
}
.logo,
.footer-logo{
    font-family: 'Raleway', sans-serif;
}