.holder{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    border: 2px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.item{
    flex-basis: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex: 1 1 calc(33.33%);
}
.item:nth-child(1){
    background-color: tomato;
    border-top-left-radius: 20px;
    order: -2;
    flex-grow: 2;
    flex-basis: calc(50%);
}
.item:nth-child(2) {
    background-color: skyblue;
    order: 1;
}
.item:nth-child(3) {
    background-color: rgb(166, 37, 252);
    order: 0;
}
.item:nth-child(4) {
    background-color: green;
    order: 2;
}
.item:nth-child(5) {
    background-color: yellow;
    order: -1;
    flex-grow: 2;
    flex-basis: calc(50%);
    border-top-right-radius: 20px;
}


