.container{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    border-radius: 8px;
}
.box:nth-child(1){
    background-color: skyblue;
}
.box:nth-child(2){
    background-color: orange;
}
.box:nth-child(3){
    background-color: pink;
}
.position{
position: relative;
top: 100px;
right: 100px;
}



/* absolute */
/* body{
    margin: 0;
    padding: 0;
} */
img{
    display: block;
    width: 100%;
    padding: 0;
}
.wrap{
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 150px;
}
.label{
    position: absolute;
    top: -24px;
    right: 0;
    background-color: rgb(20, 118, 255);
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 16px;
}

/* fixed */
.chat-button{
    position: fixed;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    right: 40px;
    bottom: 50px;
    width: 65px;
    height: 65px;
    border: none;
}



/* z-index */
.box-wrap{
    position: relative;
}
.box-shadow{
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-shadow:nth-child(1){
    background-color: rgb(250, 250, 129);
    top: 20px;
    left: 90px;
    z-index: 1;
}
.box-shadow:nth-child(2){
    background-color: rgb(255, 128, 255);
    top: 30px;
    left: 150px;
    z-index: 999;

}
.box-shadow:nth-child(3){
    background-color: skyblue;
    z-index: 3;
    top: 90px;
    left: 80px;
}
.box-shadow:nth-child(4){
    background-color: rgb(213, 252, 135);
    z-index: 4;
}