body{
    margin: 0;
    background-color: rgb(187, 211, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: aliceblue;
}
.timer-box, 
.title{
font-size: 30px;
font-weight: 700;
color: rgb(0, 0, 113);
}
.input{
    margin-bottom: 15px;
}
.btn{
    background-color: rgb(22, 22, 153);
    color: white;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}
.btn:hover,
.btn:focus{
    background-color: rgb(36, 36, 186);
}

.btn-box{
    margin-top: 20px;
} */

.box{
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: rgb(22, 22, 153); */
    border-radius: 50%;
    transition: transform 0.5s ease;
}